.jumbotron {
    background-image: img src='/Images/img_3494';
    background-size: cover;
    height: 100%;
}

.jumbotron h1 {
    color: rgb(35, 179, 6);
    font-family: 'shift', Luminari, fantasy;
    font-weight: bold;
}

.jumbotron h2 {
    color: rgb(21, 88, 7);
    font-family: 'shift', Luminari, Fantasy;
}

.jumbotron p {
    color: rgb(13, 70, 2);
    font-family: 'shift', luminari, fantasy;
    font-weight: normal;
}