.jumbotron {
    position: relative;
    background-image: url("/Assetts/Images/IMG_3494.jpg");
    width: 100%;
    background-size: cover;
    min-height: 600px;
}

.jumbotron h1 {
    font-size: 50px;
    color: green;
    Font-family: "luminari", fantasy;
}

.jumbotron h2 {
    font-size: 25px;
    color: green;
    font-family: "luminari", fantasy;
}

.jumbotron p {
    margin-left: -2%;
    margin-right: 50%;
    color: rgb(35, 185, 35);
}