.jumbotron {
    background-image: url ("Images/IMG_3494.jpg");
    background-size: cover;
    min-height: 600px;
}

.jumbotron h1 {
    font-size: 50px;
    color: green;
    Font-family: "Apple Chancery", cursive;
}

.jumbotron h2 {
    font-size: 25px;
    color: green;
    font-family: "Apple Chancery", cursive;
}

.jumbotron p {
    margin-left: -2%;
    margin-right: 50%;
    color: rgb(7, 48, 228);
}